body {
    padding: 79px;
}

p.p1 {
  margin: 1%;
  margin-top: 2px;
}

.input{
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  -moz-box-sizing : border-box;
  box-sizing: border-box;

}

.radio{
  display: none;

}

.principal{
  margin: 33%;
  margin-top: 13%;
}

.titulo{
    font-family: Ubuntu, sans-serif;
    color: #003260;
    font-size: 26px;
    text-align: center;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #7E939E;
    text-align: center;
    margin-right: 1%;
}

.texto2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #7E939E;
}

.termos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color:#7E939E;
  position: relative;
  margin-left: 3%;
}

.termos input:{
  cursor: pointer;
}

.termos input:checked {
  background-color: #268FCC;
}


.botao{
  width: 45%;
 
}

.button{
    background-color:red;
    color: white;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 16px 79px;
    margin-left: 33%;
    margin-top: 2%;
    
}

.promo-methods {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1%;
}

.promo-methods:after {
  content: "";
  clear: both;
}

.promo-method {
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  height: 40px;
  position: relative;
  width: 27%;
  border-radius: 5px;
  margin: -3%;
  margin-left: 5%;
}

.promo-method label {
  background: no-repeat center center;
  bottom: 0px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: -2px;
  position: absolute;
  right: -2px;
  text-indent: 100%;
  top: 0px;
  white-space: nowrap;
  border-radius: 5px;

}

.promo-method + .promo-method {
  margin-left: 25px;
}

.email label {
  background: url('icon_newsletter.svg') no-repeat 26% 43%; 
  background-size: 15%;
  text-decoration: #268FCC;

}

.sms label {
    background: url('icon_message.svg') no-repeat 26% 47%;
    background-size: 15%;
    text-decoration: #268FCC;
}

.watts label {
    background: url('icon_whatsapp.svg') no-repeat 15% 48%;
    background-size: 15%;
    text-decoration: #268FCC;
}
  
.promo-methods input:focus + label {
   border: 2px dotted #268FCC;
   border-radius: 5px;
 }
  
.promo-methods .email input:checked + label {
  background: url('icon_newsletter_color.svg') no-repeat 26% 43%; 
  background-size: 15%;
  border: 1px solid #268FCC;
  border-radius: 5px;
 
}
.promo-methods .email input:checked ~ label ~ h5 {
  color: #268FCC;
  border-radius: 5px;
}

.promo-methods .sms input:checked + label {
  background: url('icon_message_color.svg') no-repeat 26% 47%; 
  background-size: 15%;
  border: 1px solid #268FCC;
  border-radius: 5px;
}

.promo-methods .sms input:checked ~ label ~ h5 {
  color: #268FCC;
}

.promo-methods .watts input:checked + label {
  background: url('icon_whatsapp_color.svg') no-repeat 16% 45%; 
  background-size: 15%;
  border: 1px solid #268FCC;
  border-radius: 5px;
}

.promo-methods .watts input:checked ~ label ~ h5 {
  color: #268FCC;
}

.promo-methods input:checked + label:after {
    content: "";
    display: inline-block;
    height: 20px;
    position: absolute;
}

.email h5 {
  margin: 10% 10% 10% 45%;
  color: darkgrey;
  font-family: Ubuntu, sans-serif;  
}

.sms h5{
  margin: 10% 10% 10% 45%;
  color: darkgrey;
  font-family: Ubuntu, sans-serif;  
}

.watts h5{
  margin: 10% 10% 10% 33%;
  color: darkgrey;
  font-family: Ubuntu, sans-serif;  
}

.hr {
  color: #D2DCDE;
}

.dotted{
  color: #D2DCDE;
  border-style: dotted;
  margin-top: 11%;
  margin-bottom: 5%;
}

.mail-address{
  color:gray;
  height: 30px;
  width:  115%;
  border-color: 1px #D2DCDE;
  margin-left: 6%;
  margin-bottom: 7%;
}

.celular{
  color:gray;
  height: 30px;
  width:  115%;
  border-color: 1px #D2DCDE ;
  margin-left: 6%;
  margin-bottom: 7%;
  
}

.checkboxcontainer input{
  display: none;
}

.checkboxcontainer{
  display: inline-block;
  padding-left: 18%;
  position: relative;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  user-select: none;
  border-bottom-color: black;
  border-top-width: 10px;

}

.checkboxcontainer .checkmark{
   display: inline-block;
   height: 18px;
   width: 18px;
   background-color:#cccc;
   position: absolute;
   left: 9%;
   top: 0%;
   border-radius: 3px;
   margin-top: -1px;
 
}

.checkboxcontainer input:checked + .checkmark{
  background-color: #268FCC; 
}

.checkboxcontainer:hover .checkmark{
  background-color: #cccc;
}

.checkboxcontainer input:checked + .checkmark::after{
  content: " ";
  position: absolute;
  height: 4px;
  width: 9px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%) rotate(-45deg);
}

.termos2{
  padding-top: 0%;
  padding-bottom: 4%;
padding-right: 12%;
}

.link1{
  font-size: 14px;
  font-family: Ubuntu, sans-serif;
  color: #268FCC;
  
}